/* styles.css */
.big-font {
    font-size: 40px !important;
    font-weight: bold;
}

.normal-text {
    
    font-size: 25px;
   
}
.text_indent
{
    font-size: 25px;

    text-indent: 30px;
}
.highlight {
    font-size: 30px;
  
    font-weight: bold;
}

/* styles.css */
/* styles.css */
.my-progress-bar .stProgress > div {
    background-color: orange !important;  /* สีส้ม */
    height: 30px !important;              /* ปรับขนาดความสูงของ progress bar */
}
